/* ======== Common styles ======== */
ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}

/* ======== Page Header styles ======== */

.page-hdr {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-hdr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.text-studio {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.page-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-current {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-current::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}

.nav-menu {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu:hover,
:focus {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.page-link {
  display: flex;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
:focus {
  color: #404bbf;
}

/* ======== Hero Section styles ======== */
.hero-section {
  background: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fonpage.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  border-radius: 4px;
  font-family: inherit;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  border: none;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
:focus {
  background: #404bbf;
}

/* ======== Benefits section styles ======== */
.benefits-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.benefits-tab {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.benefits-liste {
  width: calc((100% - 72px) / 4);
}

.benefits-icons {
  display: flex;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

/* ======== Team section ======== */
.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-tabl {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-card {
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.cont-div {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-liste-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconka {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* ======== Projekt Card Section ======== */

.portfolio-section {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.prt-tab {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-liste {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-liste:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-liste:hover,
.portfolio-liste:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-application {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-direction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======== Footer ======== */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer_cont {
  display: flex;
  align-items: baseline;
}

.foot-left {
  margin-right: 120px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
}

.footer-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-liste-icon {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-icon {
  width: 40px;
  height: 40px;
}

.social-link-foot {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-foot:hover,
:focus {
  background-color: #31d0aa;
}

.iconka-foot {
  fill: #f4f4fd;
}

/* ======== container ======== */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
